:root {
--primary-text-color: #757575;   
--title-text-color: #212121; 
--accent-color: #2196F3;
--primary-big-color: #F5F5F5;
--secondary-big-color: #2F303A; 
}

body {
color:var(--primary-text-color);
font-family:Roboto, sans-serif;
letter-spacing: 0.03em; 
margin: 0;
font-size: 14px;
}

/* Утиліти */

.list {
 list-style: none;
 margin: 0;
 padding: 0;
 }

 ul {
 list-style: none;
}
.img-block {
 display: block;
}

.container {
 margin-left: auto;
 margin-right: auto;
 width: 1200px;  
 padding-left: 15px;
 padding-right: 15px;  
}

/* fon */

.header-fon {
 background-color: #FFFFFF;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #ECECEC;}
.secondary-fon {
 background-color: var(--secondary-big-color);
}
.teams-fon {
 background-color: #F5F4FA;
}


/* logo */

.logo {
 color: #000000;  
 font-family: Raleway, sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.2; 
 text-decoration: none;
 margin-right: 93px;
}
.logo-web {
 color:var(--accent-color) ;
}
.logo-studio {
 color: #FFFFFF;    
}
.logo-footer {
 color: #000000;  
 font-family: Raleway, sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.2; 
 text-decoration: none; 
}

/* main-header */
 
.main-header {
 display: flex;
 align-items: center;
}

/* site-nav list */

 .site-nav {
 display: flex;
}
.site-nav .item {
 margin-right: 50px; 
} 
.site-nav .item:last-child {
 margin-right: 0;
}
.site-nav .link {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px; 

 color: var(--title-text-color);
 font-weight: 500;
 line-height: 1.14; 
 letter-spacing: 0.02em;
 text-decoration: none; 
 
 position: relative;

 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 250ms;
 transition-property: color;
}   
.site-nav .link.current::after {
 content: "";
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 2px;
 position: absolute;
 bottom: 0;
 left: 0;
 margin: -1px;
 background-color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
 color: var(--accent-color);
}
.site-nav .link.current {
 color: var(--accent-color);
}

/* contacts list */

 .contacts {
 display: flex;
 margin-left: auto;
 } 
.contacts .item + .item {
 margin-left: 50px;
} 
.contacts-link:focus,
.contacts-link:hover {
 color: var(--accent-color);
}
.contacts-link {
 display: flex;
 align-items: center;
 gap: 10px;

 color:var(--primary-text-color);
 font-weight: 500; 
 line-height: 1.14; 
 letter-spacing: 0.02em;   
 text-decoration: none;

 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 250ms;
 transition-property: color;
}
.contact-icon {
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 250ms;
 transition-property: fill;
 fill: currentColor;
}

/* hero */

.hero {
 text-align: center;
 align-items: center;   
 padding-bottom: 200px; 
 padding-top: 200px;
} 
.hero-title {
 color: #FFFFFF;
 font-weight: 900;
 font-size: 44px;
 line-height: 1.3;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 margin-top: 0;
 margin-bottom: 30px;
 width: 696px;
 margin-left: auto;
 margin-right: auto;
}  
.hero-fon {
 max-width: 1600px;
 height: 600px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin-left: auto;
 margin-right: auto; 
 background-color: var(--secondary-big-color);
 background-image: linear-gradient(
 to right,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
 ),
 url("../images/hero.jpg");
}

/* button */

.button.primary {
 color: #FFFFFF;
 background-color: var(--accent-color);
 cursor: pointer;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.9;
 display: inline-block;
 letter-spacing: 0.06em;
 padding: 10px 32px; 
 border-radius: 4px;
 border: 1px solid transparent;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
 color: #FFFFFF;
 background: #188CE8;
}

/* feature list */

.feature {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.feature .item  {
 width: 270px;  
 flex-basis: calc((100% - 30px * 3) / 4);
}

.feature .item::before {
 content: "";
 display: block;
 margin-bottom: 30px;
 height: 120px;
 background-repeat: no-repeat;
 background-position: center;
 background-color: #F5F4FA;
 border-radius: 4px;
}
.feature .item:nth-child(1)::before {
 background-image: url(../images/svg-feature/antenna\ 1.svg);
}
.feature .item:nth-child(2)::before {
 background-image: url(../images/svg-feature/clock\ 1.svg);
}
.feature .item:nth-child(3)::before {
 background-image: url(../images/svg-feature/diagram\ 1.svg);
}
.feature .item:nth-child(4)::before {
 background-image: url(../images/svg-feature/astronaut\ 1.svg);
}
 
/* img list */
.img {
 display: flex;
 flex-wrap:wrap;
 gap: 30px;
}
.img-wrapper {
 position: relative;
}

.img .item {
 width: 370px;    
 flex-basis: calc((100% - 30px * 2) / 3);
}
.img-box {
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 bottom:0;
 left: 0;
 width: 100%;
 height: 70px;
 background: rgba(47, 48, 58, 0.8);
}
.img-text {
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-align: center;
 text-transform: uppercase;
 color: #FFFFFF;
}

/* section */

.section-features {
 padding-top: 94px;   
 padding-bottom: 94px;
}
.section-img {
 padding-top: 0;
 padding-bottom: 94px;
} 
.section-teams { 
 padding-bottom: 94px;
 padding-top: 94px;
}  

.section-features .caption {
 margin-right: 30px;
 margin-bottom: 10px;

 color: var(--title-text-color);
 font-weight: 700;
 line-height: 1.14;
 text-transform: uppercase;
}
.section-img .heading{
 color: var(--title-text-color);
 font-weight: 700;
 margin-bottom: 50px;
 margin-top: 0;
 font-size: 36px;
 line-height: 1.16;
 text-align: center;
}

/* Наша команда */
.team {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.team .item {
 flex-basis: calc((100% - 30px * 3) / 4);
 width: 270px;
}
.team .item:last-child {
 margin-right: 0;
}

.section-teams .heading-teams {
 color: var(--title-text-color);
 font-weight: 700;
 font-size: 36px;
 line-height: 1.16;
 text-align: center; 
 margin-bottom: 50px;
 margin-top: 0;
}
.section-teams .item {
 background: #FFFFFF;
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.section-teams .section-title {
 margin-bottom: 10px;
 text-align: center;

 color: var(--title-text-color);
 font-weight: 500;
 font-size: 16px;
 line-height: 1.9;
}
.section-teams .position {
 text-align: center;
 margin-bottom: 16px;
} 

.section-features .text {
 line-height: 1.7;    
}

.team-wrapper {
 padding-bottom: 30px;
 margin-top: 30px;
}

.socials {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
.socials-link {
 display: flex;  
 align-items: center;
 justify-content: center;

 width: 44px;
 height: 44px;

 border-radius: 50%;
 background-color: #FFFFFF;

 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: #AFB1B8;
}
.socials-link:hover,
.socials-link:focus {
 background-color:var(--accent-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
 fill:#FFFFFF;
}

/* Постійні клієнти */
 
.section-clients {
 padding-top: 94px;
 padding-bottom: 94px;
}
.clients-list {
  flex-wrap: wrap;
}
.clients-title {
 margin-bottom: 50px;
}
.clients-title {
 font-weight: 700;
 font-size: 36px;
 line-height: 1.16;
 text-align: center;
 color: #212121;
}
.clients {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
}

.clients-link {
 display: flex;  
 align-items: center;
 justify-content: center;

 width: 170px;
 height: 92px;
 border: 1px solid #AFB1B8;
 border-radius: 4px; 
 background-color: #FFFFFF; 

 transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: #AFB1B8;
}  
.clients-link:hover,
.clients-link:focus {
 border: 1px solid#2196F3
}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
 fill:var(--accent-color)
}


/* contacts-footer, address list */

.address-section {
 font-style: inherit;
}
.fon-footer {
padding-top: 60px;
padding-bottom: 60px;
}
.address-footer {
 margin-top: 20px;
}
.address-footer .link {
 display: block;
 
 color:#FFFFFF;
 line-height: 1.7;
 text-decoration: none;
}
.contacts-footer {
 margin-top: 9px;
}
 .contacts-footer .link {
 display: block;

 color: rgba(255, 255, 255, 0.6);
 line-height: 1.7; 
 text-decoration: none; 
 
}
.address .link:focus,
.contacts-footer .link:focus{
 color: none;
}

/* Приєднуйтесь */

.footer-gap {
 display: flex;
 gap: 88px;
 align-items: baseline;
}

.join-block {
 display: flex;
 flex-direction: column;
}
.join-title {   
 font-size: 14px;
 line-height: 1.14;
 font-weight: 700;
 color: #FFFFFF;
 margin-bottom: 20px;
 text-transform: uppercase;
}
.join { 
 display: flex;
 
}
.join-link {
 display: flex;  
 align-items: center;
 justify-content: center;
 margin-right: 10px;
   
 width: 44px;
 height: 44px;
   
 border-radius: 50%;
 background-color: rgba(255, 255, 255, 0.1);

 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-icon {
 transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: #FFFFFF;
}
.join-link:hover,
.join-link:focus {
 background-color:var(--accent-color);
}
.join-link:hover .socials-icon,
.join-link:focus .socials-icon {
 fill:#FFFFFF;
}

/* Підписка */

.subscription-block {
margin-right: auto;
}
.subscription-header {
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-transform: uppercase;
 margin-bottom: 20px;
 color: #FFFFFF;
}
.subscription-title {
 display: flex;
 flex-wrap: nowrap;
}
.subscription-input {
 border: 1px solid rgba(255, 255, 255, 0.3);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 border-radius: 4px;
 background-color: transparent;
 width: 358px;
 height: 50px;
 font-size: 16px;
 line-height: 1,25;
 margin-right: 12px;
 padding: 16px;
}
.subscription-input:focus {
 background-color: #FFFFFF;
}
.subscription-btn {
 background-color: var(--accent-color);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 width: 200px;
 height: 50px;
 font-weight: 700;
 font-size: 16px;
 line-height: 1,8;
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: center;
 letter-spacing: 0.06em;
 border: 0;
 cursor: pointer;
 color: #FFFFFF;
 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-btn:hover,
.subscription-btn:focus {
 background-color: #188CE8;
}
.subscription-icon {
 margin-left: 10px;
 fill: #FFFFFF;
}
/* navigation list */

.main-navigation {
 display: flex;
 align-items: center;
 padding-top: 91px;
 padding-bottom: 50px;
}
.navigation {
 display: flex;
 margin: auto;
 }
 .navigation .item {
 margin-right: 8px;
 display: block;
 }
 .navigation .item:last-child {
 margin-right: 0;   
}

.section .portfolio-nav {
 color: var(--title-text-color);
 background-color: #F5F4FA;;
 cursor: pointer;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.6;
 text-align: center;
 border-radius: 4px;
 padding: 6px 22px;
 border: 1px solid transparent;

 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section .portfolio-nav:hover,
.section .portfolio-nav:focus {
 color: #FFFFFF;
 background-color: var(--accent-color);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio-project */

.portfolio-border {
 padding-left: 24px;
 padding-bottom: 20px;
 padding-top: 20px;
   
 border-right-width: 1px;
 border-right-style: solid;
 border-right-color: #ECECEC;
      
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #ECECEC;
      
 border-left-width: 1px;
 border-left-style: solid;
 border-left-color: #ECECEC; 
}
.portfolio-thumb {
 position: relative;
 overflow: hidden;
}
.portfolio-overlay {
 position: absolute;
 bottom: 0;
 left: 0;
 transform: translateY(100%);
 transform-origin: bottom;
 opacity: 0;

 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;

 background-color: rgba(33, 150, 243, 0.9);

 transition: transform 250ms linear;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.portfolio-link:hover .portfolio-overlay {
 transform: translateY(0); 
 opacity: 1;}
.portfolio-text {
 position: absolute;
 font-size: 18px;
 line-height: 1.5;
 color: #FFFFFF;
 padding-left: 24px;
 padding-right: 24px;
}

.portfolio-link {
 display: block;
 color: currentColor;
 text-decoration: none;

 transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project {
 display: flex;
 flex-wrap: wrap;
 padding-bottom: 97px;
 gap: 30px;
}
.portfolio-project .item{
 flex-basis: calc((100% - 60px) / 3); 
 /* margin-right: 30px; 
 margin-bottom: 30px;   */
 background: #FFFFFF;
}
/* .portfolio-project .item:nth-child(3n) {
 margin-right: 0;
}
.portfolio-project .item:nth-last-child(-n + 3) {
 margin-bottom: 0;
 } */
 .desc {
 color: var(--title-text-color); 
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;  
}
.link-branch{
 margin-top: 4px;
 font-size: 16px;
 line-height: 1.9;
}

/* Модальне вікно */

.backdrop {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;

 background-color:rgba(0, 0, 0, 0.2);

 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
}
.modal {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);

 width: 528px;
 min-height: 581px;
 background-color: #FFFFFF;

 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 4px;
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms ease-in-out 200ms;
 
 display: flex;
 flex-direction: column;
 align-items: center;
 opacity: 1;
 padding: 40px;
}

.modal-btn {
 position: absolute;
 top: 8px;
 right: 8px;
 width: 30px;
 height: 30px; 

 display: flex;
 align-items: center;
 justify-content: center;

 background-color: #FFFFFF;

 border-radius: 50%;
 border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-btn-icon {
 fill: #000000;
}
.modal-btn-icon:hover,
.modal-btn-icon:focus {
 fill: var(--accent-color);
}

.modal__header {
 font-weight: 700;
 font-size: 20px;
 line-height: 1.15;
 text-align: center;
 letter-spacing: 0.03em;
 color: #212121;;
 margin-bottom: 12px;
}
.modal-submit-btn {
 background-color: var(--accent-color);
 color: #FFFFFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 border: 0;
 cursor: pointer;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.8;
 letter-spacing: 0.06em;
 padding: 10px 52px;
 text-align: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
 background-color: #188CE8;
}
.close-modal-btn {
 width: 30px;
 height: 30px;
 border-radius: 100%;
 border: 1px solid rgba(0, 0, 0, 0.1);
 background-color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: auto;
 cursor: pointer;
 position: absolute;
 top: 8px;
 right: 8px;
 padding: 0;
}
.close-modal-btn:hover .close-icon {
 fill: var(--accent-color);
}
.close-icon {
 display: block;
 fill: black;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
 visibility: hidden;
 opacity: 0;
 pointer-events: none;
}
.modal-form-group {
 width: 100%;
 margin-bottom: 30px;
}
  
.modal-form {
 display: flex;
 flex-direction: column;
 margin-bottom: 10px;
}
.modal-form__form-name {
 font-size: 12px;
 line-height: 1.16;
 letter-spacing: 0.01em;
 color: #757575;
 margin-bottom: 4px;
}
.modal-form__form-input {
 height: 40px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 width: 100%;
 padding-left: 45px;
 font-size: 12px;
 line-height: 1.16;
 letter-spacing: 0.01em;
 transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 outline: transparent;
}
.modal-form__form-input:hover {
 border: 1px solid var(--accent-color);
}
.modal-form__form-input:hover .modal-form__input-icon {
 fill: var(--accent-color);
}
.modal-form__form-input:focus {
 border: 1px solid var(--accent-color);
}
.modal-form__form-input:focus-within + .modal-form__input-icon {
 fill: var(--accent-color);
}
.modal-form__input-wrap {
 position: relative;
}
.modal-form__input-wrap:hover .modal-form__form-input {
 border: 1px solid var(--accent-color);
}
.modal-form__input-wrap:hover .modal-form__input-icon {
 fill: var(--accent-color);
}
.modal-form__input-wrap:focus .modal-form__form-input {
 border: 1px solid var(--accent-color);
}
.modal-form__input-wrap:focus .modal-form__input-icon {
 fill: var(--accent-color);
}
.modal-form__input-icon {
 position: absolute;
 left: 12px;
 top: 11px;
 z-index: 10;
 fill: black;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__feedback { 
 padding: 12px 16px;
 height: 120px;
 width: 100%;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 font-size: 12px;
 line-height: 1.16;
 letter-spacing: 0.01em;
 transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 outline: transparent;
 resize: none;
}
.modal-form__feedback::-moz-placeholder {
 font-size: 12px; 
 line-height: 1.16;
 letter-spacing: 0.01em;
 color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback:-ms-input-placeholder {
 font-size: 12px;
 line-height: 1.16;
 letter-spacing: 0.01em;
 color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback::placeholder {
 font-size: 12px;
 line-height: 1.16;
 letter-spacing: 0.01em;
 color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback:hover {
 border: 1px solid var(--accent-color);
}
.modal-form__feedback:focus {
 border: 1px solid var(--accent-color);
}
  
.modal-agreement {
 display: flex;
 justify-content: center;
 align-items: center;
}
.agreement-text {
 line-height: 1.7;
 letter-spacing: 0.03em;
 color: #757575;
 -webkit-user-select: none;
  -moz-user-select: none;
    -ms-user-select: none;
      user-select: none;
}
.agreement-text-link {
 color: var(--accent-color);
 text-decoration: none;
 border-bottom: 1px var(--accent-color) solid;
}
  
.checkbox-icon {
 margin-right: 7px;
}
.checkbox-icon_check {
 opacity: 0;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
 background-color: var(--accent-color);
 border-radius: 2px;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon_check {
 fill: #FFFFFF;
}
.checkbox:checked + .checkbox-icon .checkbox-icon_check {
 opacity: 1;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.checkbox:hover + .checkbox-icon .checkbox-icon_uncheck,
.checkbox:focus + .checkbox-icon .checkbox-icon_uncheck {
 fill: #188CE8;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden {
 position: absolute;
 white-space: nowrap;
 overflow: hidden;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
}


